.number_classic {
  background: linear-gradient(#e9f2fa 30%, #c5d9f5, #e9f2fa 70%);
  border-radius: 2px;
  border: 1px solid rgba(52, 59, 63, 0.5);
}

.number_classic:hover {
  background: linear-gradient(#fde3bb 50%, #f5b24e);
  border: 1px solid #f5b24e;
  transition: border 2s;
}

.number_classic:active {
  background: #f5b24e;
}
